* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.what{
  position: relative;
  top: 300px;
  background-color: white !important;
}

.justin{
  position: relative;
  top: 310px;
  border: 1px solid rgb(223, 219, 219);
  display: flex;
  width: 75%;
  padding: 50px;
  margin: auto;
  border-radius: 10px;
  align-items: center;
}

.case {
  padding-left: 70px;
}

.case h3{
  padding-bottom: 10px;
}

.student{
  padding-bottom: 25px;
  font-size: 15px;
  color: #767474;
}

.nulla{
  line-height: 1.7;
  font-size: 19px;
  color: #767474;
  padding-bottom: 25px;
}

.star{
  color: #FFA439;
}

.rewiew{
  color: #262424;
  font-size: 15px;
}

.News{
  position: relative;
  top: 550px;
}

.newsContainer {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 550px;
  flex-wrap: wrap;
  background-color: #F5F5F5;
  padding-top: 70px;
}

.newscard {
  width: 22%;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  background-color: white;
  border-radius: 7px;
}

.newsimg {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.newsimg:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.aaa{
  background-color: #D2093C;
  position: relative;
  top: -180px;
  left: 70%;
  width: 75px;
  border-radius: 7px;
  padding: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 13px;
}

.paa {
  padding-left: 20px;
}

.edu {
  color: #D2093C;
  padding-top: 15px;
  padding-bottom: 14px;
  font-size: 16px;
}

.kids {
  color: #00306E;
  font-size: 17px;
  line-height: 1.5;
  font-weight: bold;
  padding-bottom: 15px;
  transition: color 0.3s ease;
}

.kids:hover {
  color: #D2093C;
  cursor: pointer;
}

.charli{
  color: #767474;
}

.charli i{
  color: black;
  padding-right: 10px;
}
