* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  .Upcomming {
    background-color: #F5F5F5;
    position: relative;
    top: 100px;
    padding: 20px;
    padding-top: 100px;
  }

  .bott{
    padding-top: 100px;
  }
  
  .cardsContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 20px;
  }
  
  .upcard {
    display: flex;
    flex-direction: column;
    width: 23%;
    padding: 35px 20px;
    background-color: #fff;
  }
  
  .upcard h1 {
    color: #D2093C;
    font-size: 50px;
  }
  
  .janu {
    color: rgb(97, 96, 96);
    padding-bottom: 30px;
  }
  
  .am {
    color: #D2093C;
    font-size: 15px;
    padding-bottom: 10px;
  }
  
  .upcard h6 {
    font-size: 19px;
    color: #00306E;
    line-height: 1.3;
    padding-bottom: 20px;
    transition: color 0.3s ease;
  }
  
  .upcard h6:hover {
    color: #3270FC;
    cursor: pointer;
  }
  
  .newyork {
    color: rgb(97, 96, 96);
  }
  
  .newyork i {
    color: #00306E;
    padding-right: 5px;
    padding-bottom: 25px;
  }
  
  .upcard button {
    position: relative;
    top: 10px;
    color: #00306E;
    padding-right: 65px;
    padding-top: 13px;
    padding-bottom: 13px;
    border: 2px solid rgb(208, 205, 205);
    background: none;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  
  .upcard button:hover {
    color: white;
  }
  
  .upbtnarr {
    position: relative;
    left: 57.7%;
    top: -21px;
  }
  
  .upbtnarr i {
    color: #00306E;
    transition: color 0.3s ease;
  }
  
  .upbtnarr i:hover {
    color: white;
  }

  .circle{
    display: flex;
    justify-content: center;
    gap: 17px;
    font-size: 12px;
    padding-bottom: 75px;
    margin-top: 70px;
    color: #C4C4C4;
  }

  .cir{
    color: #D2093C;
  }


  .what{
    position: relative;
    top: 230px;
    background-color: white !important;
  }

  .justin{
    position: relative;
    top: 230px;
  }


  